.cell-title {
  padding: 15px;
  padding-right: 30px;
  border: 1px solid;
  background-color: #f1f1f1;
  font-weight: bold;
  font-size: 13px;
}

.cell-value {
  padding: 15px;
  border: 1px solid;
  font-size: 13px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  justify-content: center;
  align-content: flex-start;
  font-family: Helvetica;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.grid-button {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  justify-content: center;
}

.button {
  color: white;
  border: none;
  padding: 10px;
  font-size: 13px;
  width: 150px;
}

.button-start {
  background-color: #008CBA;
}

.button-stop {
  background-color: #f44336;
}
